# Conekta Code Challenge

The objective of the challenge is to create a data pipeline for a CSV file that contains transactions from different companies. There are 4 steps in the process:
* Load
* Transform
* Separate Tables
* Create Final View

This code uses Python because of the ease of use and fast implementation. For a small task like this Python with Pandas is a good choice since we're not dealing with a great amount of data. For bigger data files or more complex transformations we should use other libraries or other languages.

MySQL is the preferred database to use since it's easy to manage and the data is alredy structured and small. These are the reasons why a No-SQL database would not be appropriate for this solution

## Step 1
Install all needed dependencies for Python, including sql libraries.

In [ ]:
!pip install mysql-connector-python
!pip install sqlalchemy
!sudo apt-get install libmysqlclient-dev -y
!pip install mysqlclient
!pip install psycopg2-binary

## Steps 2 and 3
Transform the data to the desired structure and load it to a DB. 
The MySQL database is located on an AWS RDS server using the free tier for development purposes.

In [169]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, types

db = create_engine("mysql://admin:conekta2020@database-1.c122pa8govmo.us-east-1.rds.amazonaws.com:3306/conekta")

# Load CSV file to Pandas DataFrame
df = pd.read_csv("data.csv")

# Rename columns to fit the desired schema
df = df.rename(columns = {
    'name': 'company_name',
    'paid_at': 'updated_at'
})

convert_dict = {
                'amount': float
               } 

df = df.astype(convert_dict)

# Filter rows by values.
# In this case, extremely big numbers are eliminated from the table (This is because 
# we are not using these rows in the final view). Normally, this should
# be fixed and verified in order to get the real numbers and company IDs
df = df.query('amount < 1e6')
df = df.query('company_id.astype("str").str.len() == "40"')


#Generate SQL schema with desired Data Types
datatypes_sql = {
    'id': types.VARCHAR(40),
    'company_name': types.VARCHAR(130),
    'company_id': types.VARCHAR(24),
    'amount': types.DECIMAL(16,2),
    'status': types.VARCHAR(30),
    'created_at': types.TIMESTAMP,
    'updated_at': types.TIMESTAMP
}

#Load data to AWS RDS MySQL instance
df.to_sql('Operations',con=db,index=False,if_exists='replace', dtype=datatypes_sql)

## Step 4
Separate the original table into Operations and Companies.

In [ ]:
#Create a connection to the DB
connection = db.connect()

#Create Queries to split tables into Companies and Transactions
create_transactions = 'CREATE TABLE Transactions AS (SELECT id, company_id, amount, status, created_at, updated_at FROM Operations)'
create_companies = 'CREATE TABLE Companies AS (SELECT DISTINCT company_id, company_name from Operations GROUP BY company_id)'

connection.execute(create_transactions)
connection.execute(create_companies)

## Step 5
Create view where the user can see the sales per day per company and save it in RDS.

In [ ]:
create_sales_view = 'select b.company_name, a.created_at, sum(a.amount) from Transactions a Left JOIN Companies b on a.company_id = b.company_id group by b.company_name, a.created_at'
connection.execute(create_sales_view)